@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex justify-center items-center w-52 h-12 overflow-hidden bg-[length:300%_300%] cursor-pointer backdrop-blur-2xl rounded-full transition-all duration-500 border-4 border-transparent relative;
    animation: gradient_301 5s ease infinite;
    background-image: linear-gradient(#212121, #212121),
      linear-gradient(
        137.48deg,
        #ffdb3b 10%,
        #fe53bb 45%,
        #8f51ea 67%,
        #0044ff 87%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  #container-stars {
    @apply absolute -z-10 w-full h-full overflow-hidden transition-all duration-500 backdrop-blur-2xl rounded-full;
  }

  .btn strong {
    @apply z-[2] text-xs tracking-[5px] text-white text-shadow-white;
  }

  #glow {
    @apply absolute flex w-48;
  }

  .circle {
    @apply w-full h-[30px] blur-2xl -z-10;
    animation: pulse_3011 4s infinite;
  }

  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }

  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }

  .btn:hover #container-stars {
    @apply z-[1] bg-[#212121];
  }

  .btn:hover {
    @apply scale-110;
  }

  .btn:active {
    @apply border-[#fe53bb] border-4 border-double;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }

  .btn:active .circle {
    @apply bg-[#fe53bb];
  }

  #stars {
    @apply relative bg-transparent w-[200rem] h-[200rem];
  }

  #stars::after {
    content: "";
    @apply absolute -top-40 -left-[100rem] w-full h-full;
    animation: animStarRotate 90s linear infinite;
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }

  #stars::before {
    content: "";
    @apply absolute top-0 -left-1/2 w-[170%] h-[500%] opacity-50;
    animation: animStar 60s linear infinite;
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
